################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.js
*.vs
*.suo
*.cache

.vs/config/applicationhost.config
.vs/config/applicationhost.config
SNCRegistration/obj/Debug/SNCRegistration.csproj.FileListAbsolute.txt
.vs/config/applicationhost.config
SNCRegistration/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache