<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sncregistration.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sncregistration.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SNCRegistration</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SNCRegistration</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SNCRegistration.ViewModels.ApplicationDbContext" Order="1" Enabled="False">
          <Destination Path="metadata=res://*/ViewModels.SNCRegistration.csdl|res://*/ViewModels.SNCRegistration.ssdl|res://*/ViewModels.SNCRegistration.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sncregistration.database.windows.net;initial catalog=SNCRegistration;persist security info=True;user id=theclosersinc;password=P@$$w0rd1;multipleactiveresultsets=True;application name=EntityFramework&quot;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SNCRegistration.ViewModels.ApplicationDbContext, SNCRegistration" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SNCRegistration.ViewModels.SNCRegistrationEntities" Order="2" Enabled="False">
          <Destination Path="metadata=res://*/ViewModels.SNCRegistration.csdl|res://*/ViewModels.SNCRegistration.ssdl|res://*/ViewModels.SNCRegistration.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sncregistration.database.windows.net;initial catalog=SNCRegistration;persist security info=True;user id=theclosersinc;password=P@$$w0rd1;multipleactiveresultsets=True;application name=EntityFramework&quot;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SNCRegistration.ViewModels.SNCRegistrationEntities, SNCRegistration" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SNCRegistrationConnectionString" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="storedinazure" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SNCRegistrationConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="storedinazure" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ReportConnection" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=tcp:sncregistration.database.windows.net,1433;Initial Catalog=SNCRegistration;Persist Security Info=False;User ID=theclosersinc;Password=P@$$w0rd1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ReportConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:sncregistration.database.windows.net,1433;Initial Catalog=SNCRegistration;Persist Security Info=False;User ID=theclosersinc;Password=P@$$w0rd1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ReportConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SNCRegistration.ViewModels.ApplicationDbContext-Web.config Connection String">
      <ParameterValue>metadata=res://*/ViewModels.SNCRegistration.csdl|res://*/ViewModels.SNCRegistration.ssdl|res://*/ViewModels.SNCRegistration.msl;provider=System.Data.SqlClient;provider connection string="data source=sncregistration.database.windows.net;initial catalog=SNCRegistration;persist security info=True;user id=theclosersinc;password=P@$$w0rd1;multipleactiveresultsets=True;application name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SNCRegistration.ViewModels.SNCRegistrationEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/ViewModels.SNCRegistration.csdl|res://*/ViewModels.SNCRegistration.ssdl|res://*/ViewModels.SNCRegistration.msl;provider=System.Data.SqlClient;provider connection string="data source=sncregistration.database.windows.net;initial catalog=SNCRegistration;persist security info=True;user id=theclosersinc;password=P@$$w0rd1;multipleactiveresultsets=True;application name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SNCRegistrationConnectionString-Web.config Connection String" />
  </ItemGroup>
</Project>