@model IEnumerable<SNCRegistration.ViewModels.ParticipantsCoverSheetModel>

@{
    ViewBag.Title = "Participants Cover Sheet Report";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

@using (Html.BeginForm("ParticipantsCoverSheet", "ParticipantsCoverSheet", FormMethod.Post))
    {
    <h2>Participants Cover Sheet</h2>
    <div class="row">
        <div class="col-sm-3">
         
        </div>
        <div class="col-sm-9 text-right">
            <div class="col-sm-7"><h4>Select Event Year:</h4></div>
            <div class="col-sm-2">@Html.DropDownList("eventYear", new SelectList(ViewBag.ddlEventYears), new { @class = "form-control", onchange = "updateGrid()" })</div>
            <input type="submit" name="btnExportLicensing" value="Export To Excel" id="exportLicensing" class="btn btn-primary"/>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
            </tr>
        </thead>
        <tbody>
            @Html.Partial("_PartialParticipantsCoverSheetList", Model)
        </tbody>
    </table>
    }


@section scripts{
    <script>
        function updateGrid() {
            $.post('/ParticipantsCoverSheet/GetParticipantsCoverSheetByYear', { eventYear: $('#eventYear').val() }, function (data) {
                $('table tbody').html(data);
            })
        }
    </script>
}