
@{
    ViewBag.Title = "Registered";
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
}

<h2 text-align: center >Thank you! You are now registered to attend the Special Needs Camporee!</h2>
<h2 text-align: center >An email confirmation has been sent. (Feature to be implemented)</h2>
