
@{
    ViewBag.Title = "Admin Home";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}


<h4>Welcome @User.Identity.Name</h4>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




