
@{
    ViewBag.Title = "Admin Home";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}


<h4>Welcome @User.Identity.Name</h4>

<br />
<p>To Select an Activity Please Choose an Option in the left menu.</p>

<br />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




