@model IEnumerable<SNCRegistration.ViewModels.FamilyFriendsReport>

@{ 
    ViewBag.Title = "Family and Friends Report";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

@using (Html.BeginForm("FamilyFriendsReport", "FamilyFriendsReport", FormMethod.Post))
    {


    <h2>Family Friends Report</h2>
    <div class="row">
        <div class="col-sm-3">
           
        </div>
        <div class="col-sm-9 text-right">
            <div class="col-sm-7"><h4>Select Event Year:</h4></div>
            <div class="col-sm-2">@Html.DropDownList("eventYear", new SelectList(ViewBag.ddlEventYears), new { @class = "form-control", onchange = "updateGrid()" })</div>
            <input type="submit" name="btnExportLicensing" value="Export To Excel" id="exportLicensing" class="btn btn-primary" />
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
             
                <th>
                    @Html.DisplayNameFor(model => model.FamilyMemberFirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FamilyMemberLastName)
                </th>

            </tr>
        </thead>
        <tbody>
            @Html.Partial("_PartialFamilyFriendsReportList", Model)
    </table>
    }


@section scripts{
    <script>
        function updateGrid() {
            $.post('/FamilyFriendsReport/GetFamilyFriendsReportByYear', { eventYear: $('#eventYear').val() }, function (data) {
                $('table tbody').html(data);
            })
        }
    </script>
}