
@{
    ViewBag.Title = "Registered";
    Layout = "~/Views/Shared/_LayoutV_Register.cshtml";
}

<h2 text-align: center >Thank you! You are now registered to attend the Special Needs Camporee!</h2>
<h2 text-align: center>
    An email confirmation has been sent with the forms to complete and return.</h2>
    
<h3>(Feature to be implemented)</h3>

