@{
    ViewBag.Title = "Home Page";
}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="x1">
                    <div class="cloud"></div>
                </div>
                <div class="x2">
                    <div class="cloud"></div>
                </div>
                <div class="intro-message animated fadeInLeftBig">
                    <h1>Special Needs Camporee Registration</h1>
                    <h3>Select Your Registration Type Below</h3>
                    <hr class="intro-divider animated fadeInLeftBig">
                    <ul class="list-inline intro-social-buttons animated fadeInLeftBig">
                        <li><a href="/Guardians/Create" class="btn btn-success btn-lg">Particpants</a></li>
                        <li><a href="/LeadContacts/Create" class="btn btn-danger btn-lg">Volunteers</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
        <!-- /.container -->
        <!-- /.intro-header -->
