
@{
    ViewBag.Title = "Registered";
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
}

<h2 text-align: center>Thank you! You are now registered to attend the Special Needs Camporee!</h2>
<h3 text-align: center>
    An email confirmation has been sent with the forms to complete and return.
</h3>


