    <!-- Navigation -->
   

    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="http://sncregistration.azurewebsites.net">
                    <img src="~/Admin/GetAsset?file=CHAMPIONSLOGO.png" alt="Champions">
                </a>  
                    @Html.ActionLink("Special Needs Camporee", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                            
        </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                    <li>@Html.Partial("_LoginPartial")</li>
                </ul>

            </div>
        </div>
    </nav>
 