    <!-- Footer -->

<div class="footer-top">
    <canvas id="theCanvas" width="300px" height="300px">
        Camp
    </canvas>
</div>
<footer>
    
            <div class="col-lg-12">
                <p class="copyright">&copy; @DateTime.Now.Year - Special Needs Camporee</p>
            </div>
        </div>
    </div>
</footer>
