@model IEnumerable<SNCRegistration.ViewModels.VolunteersCheckedInCountModel>
<tr>
    <td colspan="5">
        <h4>Total: @Model.Count()</h4>
    </td>
</tr>

@foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckedIn)
        </td>
    </tr>
    }