@model IEnumerable<SNCRegistration.ViewModels.VolunteersSaturdayOnlyModel>

@foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VolunteerFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VolunteerLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
    </tr>
    <div class="col-sm-10"><h4>Total: @Model.Count()</h4></div>
    }