@model IEnumerable<SNCRegistration.ViewModels.VolunteersCountByGroupModel>


@foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GroupType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroupNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
       
    </tr>
    }