@model SNCRegistration.ViewModels.Volunteers

@{
    ViewBag.Title = "Redirect";
    Layout = "~/Views/Shared/_LayoutVRegister.cshtml";
}

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    <h4>Your entry has been cleared.  Please select an option to continue.</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    //Buttons to direct next form action


    //complete registration
    <div class="form-group pull-left">
        <input type="submit" name="submit" id="Complete" value="Complete registration" class="btn btn-primary" />
    </div>

    //add another volunteer
    <div class="form-group pull-left">
        <input type="submit" name="submit" id="AddVolunteer" value="Add an additional volunteer" class="btn btn-primary" />
    </div>



    @section Scripts
    {
        @Scripts.Render("~/bundles/jqueryval")
    }
}
