
@{
    ViewBag.Title = "Registered";
    Layout = "~/Views/Shared/_LayoutV_Register.cshtml";
}

<h2 text-align: center >Thank you! You are now registered to attend the Special Needs Camporee!</h2>
<h2 text-align: center >An email confirmation has been sent.</h2>
<h2 text-align: center>Please be sure to pay at the council office. Your total is in your confirmation email.</h2>
