
@{
    ViewBag.Title = "Registered";
    Layout = "~/Views/Shared/_LayoutV_Register.cshtml";
}

<h2 text-align: center >Thank you! You are now registered to attend the Special Needs Camporee!</h2>
<h3 text-align: center >An email confirmation has been sent.</h3>
<h3 text-align: center>Please be sure to pay at the council office. Your total is in your confirmation email.</h3>

<br />


@*<ul>
    <li><a href="https://sncr.blob.core.windows.net/pdfs/EventInfo.pdf" target="_blank">Event Info - Information about the event.</a></li>
    <li><a href="https://sncr.blob.core.windows.net/pdfs/VolunteerHealthForm.pdf" target="_blank">Volunteer Health Form - Required for each attending camporee volunteer.</a></li>
</ul>*@

<ul>
    <li>
        <a href="~/LeadContacts/GetFile?file=VolunteerInformation.pdf" target="_blank">Event Info - Information about the event.</a>
    </li>
    <li>
        <a href="~/LeadContacts/GetFile?file=VolunteerHealthForm.pdf" target="_blank">Volunteer Health Form - Required for each attending camporee volunteer.</a>
    </li>
</ul>