@model SNCRegistration.ViewModels.Volunteer

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutV_Register.cshtml";
}


@using (Html.BeginForm())

{
    @Html.AntiForgeryToken()


    <h4>Volunteers List</h4><hr />

    <h4>Here is the list of volunteers you have registered so far:</h4> <br />
    <br />
            <h4>Please select an option to continue.</h4>
    <hr />

    <div class="form-group pull-left">
        <input type="submit" name="submit" id="Complete" value="Complete registration" class="btn btn-primary" onclick="location.href='@Url.Action("Registered")'"/>
    </div>
    <div class="form-group pull-left">
        <input type="submit" name="submit" id="AddVolunteer" value="Continue adding volunteers" class="btn btn-primary" onclick="location.href='@Url.Action("Create")'"/>
    </div>

}
