
@{
    ViewBag.Title = "Registered";
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
}

<h2 text-align: center>Thank you! You are now registered to attend the Special Needs Camporee!</h2>
<h3 text-align: center>An email confirmation has been sent with the forms to complete and return.</h3>
<h3 text-align: center>The forms can also be accessed below.</h3>


<br />


<ul>
    <li><a href="https://sncr.blob.core.windows.net/pdfs/ParticipantWelcomePacket.pdf" target="_blank">Event Info - Information about the event.</a></li>
    <li><a href="https://sncr.blob.core.windows.net/pdfs/ParticipantHealthForm.pdf" target="_blank">Health Form - Required for each attending camporee participant, both minors and adults.</a></li>
    <li><a href="https://sncr.blob.core.windows.net/pdfs/MediaRelease.pdf" target="_blank">Media Form - Optional form that allows Learning for Life to use photos taken at the event.</a></li>
</ul>

